server:
  port: 8081

spring:
  datasource:
    username: postgres
    password: 123456
    url: jdbc:postgresql://localhost:5432/postgres
    driver-class-name: org.postgresql.Driver

    # Druid 连接池配置
#  cloud:
#    circuitbreaker:
#      # feign本身不支持fail back的能力，通过其他框架实现。hystrix可以提供该能力，但是高版本已废弃。
#      hystrix:
#        enabled: true
#    druid:
#      max-wait: 10000       # 获取连接等待超时时间
#      fail-fast: true      # 未获取到连接时快速失败


#      initial-size: 5       # 初始化连接数
#      min-idle: 5           # 最小空闲连接数
#      max-active: 20        # 最大连接数
#      time-between-eviction-runs-millis: 60000
#      min-evictable-idle-time-millis: 300000
#      validation-query: SELECT 1
#      test-while-idle: true
#      test-on-borrow: false
#      test-on-return: false

mybatis:
  mapper-locations: classpath:/mapper/*


feign:
  client:
    config:
      default:
        connect-timeout: 100000
        read-timeout: 100000
  circuitbreaker:
    enabled: true
  hystrix:
    enabled: true

# 可能需要配置超时时间
hystrix:
  threadpool:
    default:
      coreSize: 10
      maxQueueSize: 1500
      queueSizeRejectionThreshold: 1000
  command:
    default:
      circuitBreaker:
        forceClosed: false
        errorThresholdPercentage: 85
        sleepWindowInMilliseconds: 3000
        requestVolumeThreshold: 500
      execution:
        timeout:
          enabled: true
        isolation:
          thread:
            timeoutInMilliseconds: 120000

